/* Light Theme */
.bg-light-custom {
    background: linear-gradient( 83deg , rgb(165, 11, 165) , rgb(80, 5, 80) ,rgb(38, 2, 38), rgb(86, 7, 118)) !important; /* Very light background */
    color: #ffffff !important; /* Darker gray text color */
    
}
.header{
   
    position: relative;
    top: 10px;
    padding: 15px 63px;
    
 
}
.navbar-custom{
    justify-content: center;
    margin: 20px 0 100px 0;
    background: linear-gradient( 320deg ,transparent , rgb(80, 5, 80) ,rgba(62, 5, 62, 0.817), transparent );
    padding: 20px;
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    
    
}
.nav-link:hover{
    color: rgb(73, 27, 73);
    background-color: #ffffff;

    
}
.col-12{
    padding: 0;
}


.card-header{
    background-color: transparent;
    border: none;
    padding: 0 80px;
    margin-bottom: 20px;
    
    
    
   
    
}
.cart-title{
   
    font-size: 22px;
}

.card-text{
    background: rgb(255, 255, 255, .1);
    height: 100%;
    backdrop-filter: blur(80px);
}
.card-body{
    border: none;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.287);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 40px;
    
    
}
.btn-gtt{
    background-color: rgb(129, 10, 203);
    border: none;
    outline: none;
}
.btn-gtt:hover{
    background-color: rgb(109, 10, 170);
}