/* Light Theme */
.bg-light-custom {
    background:rgb(246, 246, 246) !important; 
    color: black !important; 
    transition: all .2s;
    
}
.header{
   
    position: relative;
    top: 10px;
    padding: 15px 63px;
    
 
}
.navbar-custom{
    justify-content: center;
    margin: 20px 0 100px 0;
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 20px;

    
    
}

.nav-link{
    color: black !important;
}
.nav-link:hover{
    color: rgb(237, 237, 237) !important;
    background-color: black;

    
}
.col-12{
    padding: 0;
}


.card-header{
    background-color: transparent;
    border: none;
    padding: 0 80px;
    margin-bottom: 20px;
    
    
    
   
    
}
.cart-title{
   
    font-size: 22px;
}

.card-text{
    background: rgb(237, 237, 237);
    height: 100%;
    color: black;
    backdrop-filter: blur(80px);
}
.card-body{
    border: none;
    box-shadow: 0 2px 20px 15px inset rgb(237, 237, 237);
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 40px;
    
    
}

.btn-gtt{
    background-color: rgba(215, 215, 215, 0.891);
    border: none;
    outline: none;
}
.btn-gtt:hover{
    background-color: rgb(181, 181, 181);
}
.change-bg{
   
    display: flex;
    align-items: center;
}
.modebtn{
    margin: 0 14px;

    
    
}
/* sun icon */
.bi-brightness-high-fill{
    font-size: 24px;
   
}
/* moon icon */
.bi-moon-fill{
    color: rgb(133, 133, 133);
}
.form-check-input{
    background-color: rgb(233, 233, 233);
 
}
/* toogle body */
.sc-bxivhb{                                                   
    background-color: rgb(233, 233, 233);
    margin: 0 5px;
    border: 1px solid rgb(218, 218, 218);
    width: 52px;
    
}
/* toogle circle */
.sc-ifAKCX{
    background-color: rgb(133, 133, 133);
      
}
/* toogle body */
.daq-toggleswitch--light__indicator--off{
    background-color: rgb(217, 217, 217);
}
.daq-toggleswitch--light__indicator--on{
    background-color: rgb(33, 33, 33);
}
.bg-dark-custom{
    background-color: rgb(56, 56, 56);
    color: white;
}

.navbar-custom-dark{
    justify-content: center;
    margin: 20px 0 100px 0;
    background-color: rgb(41, 41, 41);
    color: rgb(217, 217, 217);
    padding: 20px;
    transition: all .2s;

}

.card-header-dark{
    border: none;
    margin-bottom: 100px;
    border-radius: 8px;
    padding: 40px;
    
}
.nav-link-dark{
    color: white !important;
  
}
